@page "/Register"
@* @using System.ComponentRequest.DataAnnotations *@
@using justmami.Client.Services.User
@using justmami.Domain.Requests
@inject AuthService AuthService

<MudPage FullScreen="FullScreen.FullWithoutAppbar" Row="10" Column="3">
	<MudSection Row="2" RowSpan="8" Column="2">
		<MudGrid Justify="Justify.Center" Spacing="2">
			<MudItem xs="12" sm="12">
				<MudPaper Elevation="4" Class="pa-6">
					<EditForm method="post" Model="Request" FormName="RegisterModal" OnValidSubmit="Register">
						<DataAnnotationsValidator />

						<MudText Typo="Typo.h4" Class="text-center mb-4" Color="Color.Secondary">Register</MudText>

						<MudButton Disabled="true" StartIcon="@Icons.Custom.Brands.Google" Variant="Variant.Outlined" Color="Color.Secondary" FullWidth="true" Class="mb-2">
							Continue with Google
						</MudButton>

						<MudDivider Class="my-4">or</MudDivider>

						<MudTextField Label="Firstname" RequiredError="Firstname is required!" Class="mb-2" @bind-Value="Request.Firstname" For="@(() => Request.Firstname)" />
						<MudTextField Label="Lastname" RequiredError="Lastname is required!" Class="mb-2" @bind-Value="Request.Lastname" For="@(() => Request.Lastname)" />
						<MudTextField Label="Email" RequiredError="Email is required!" InputType="InputType.Email" Class="mb-2" @bind-Value="Request.Email" For="@(() => Request.Email)" />
						<MudPasswordField Label="Password" RequiredError="Password is required!" InputType="InputType.Password" Format="" Class="mb-4" @bind-Value="Request.Password" For="@(() => Request.Password)" />
						<MudPasswordField Label="Confirm Password" RequiredError="Confirm password is required!" InputType="InputType.Password" Format="" Class="mb-4" @bind-Value="Request.ConfirmPassword" For="@(() => Request.ConfirmPassword)" />

						<MudButton Variant="Variant.Filled" Color="Color.Secondary" ButtonType="ButtonType.Submit" FullWidth="true">Sign up</MudButton>

						<div class="text-center mt-4">
							<MudText>Already have an account? <MudLink Href="/Login">Sign in</MudLink></MudText>
						</div>
					</EditForm>
				</MudPaper>
			</MudItem>
		</MudGrid>
	</MudSection>
</MudPage>

@code {

	private RegisterRequest Request = new RegisterRequest
		{
			ConfirmPassword = string.Empty,
			Password = string.Empty,
			Email = string.Empty,
			Firstname = string.Empty,
			Lastname = string.Empty
		};


	private async Task Register()
	{
		var tokenResponse = await AuthService.RegisterAsync(Request);

		if (!tokenResponse.Success)
		{
			// TODO Display error on UI
			throw new Exception($"Token response error message: {tokenResponse.ErrorMessage}");
		}
	}
}
